 <!DOCTYPE html>
 <html>
  <head>
    <title>Hello World</title>
    <meta charset="utf-8">
    <script src="../static/vendor/babel-standalone.js"></script>
    <script src="../static/vendor/react.js"></script>
    <script src="../static/vendor/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prop-types/15.6.0/prop-types.min.js"></script>
    <script src="https://unpkg.com/prop-types/prop-types.min.js"></script>
    <!--
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    -->
    <link rel="stylesheet" href="./semantic/dist/semantic.css" integrity=""/> <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <div id="frame">
      </div>
      <!--My app renders here-->
    </div>
    <script
      type="text/babel"
      data-plugins="transform-class-properties"
      src="../static/Sandbox.js"
    ></script>
  </body>
</html>
